<div class="flex flex-wrap justify-end items-center">
  <button
    *ngIf="showNoAuthSection"
    type="button"
    class="hidden md:block px-4"
    aria-label="Log in"
    (click)="login()"
  >
    connexió
  </button>
  <button
    *ngIf="showNoAuthSection"
    type="button"
    class="hidden md:block px-4"
    aria-label="Register"
    (click)="register()"
  >
    registre
  </button>
  <button
    *ngIf="showAuthSection"
    type="button"
    class="hidden md:block px-4"
    aria-label="Your groups"
    [routerLink]="['/groups']"
  >
    grups
  </button>
  <button
    *ngIf="showAuthSection"
    type="button"
    class="hidden md:block px-4"
    aria-label="Manage profile"
    (click)="profile()"
  >
    perfil
  </button>
  <button
    *ngIf="showAuthSection"
    type="button"
    class="hidden md:block px-4"
    aria-label="Log out"
    (click)="logout()"
  >
    desconnexió
  </button>
</div>
