<h2>{{ this.activity?.title }}</h2>
<h3>{{ this.activity?.task }}</h3>
<pre
  *ngIf="this.activity.text"
  [id]="this.idSelector"
  [innerHtml]="this.activity.text || '' | highlightText: this.selectedText"
></pre>
<footer *ngIf="this.activity.font.display">
  <p>{{ this.activity.font.author }}</p>
  <p>
    <a href="{{ this.activity.font.reference }}">{{
      this.activity.font.work
    }}</a
    ><time [dateTime]="this.activity.font.year">{{
      this.activity.font.year
    }}</time>
  </p>
</footer>
<app-validate-activity></app-validate-activity>
