<section>
  <h2>mosaic works!</h2>
  <ul>
    <li *ngFor="let activity of this.activities$" class="my-2 mx-4">
      <h3 class="leading-10 font-semibold">Title: {{ activity.title }}</h3>
      <p>Activity: {{ activity.task }}</p>
      <p>Author: {{ activity.author }}</p>
      <p>Inspired by: {{ activity.font.author }}</p>
      <p>Type: {{ activity.type }}</p>
      <ul class="flex flex-row justify-start items-center">
        <li
          *ngFor="let keyword of activity.keywords"
          class="inline-block px-2 py-1 mr-2 my-2 rounded-md drop-shadow-lg bg-emerald-200"
        >
          {{ keyword }}
        </li>
      </ul>
    </li>
  </ul>
</section>
