<div class="w-full flex flex-col justify-start items-center mb-6">
  <h1 class="font-bold text-2xl py-4 text-center text-emerald-900">
    Totes les activitats
  </h1>
  <section class="w-[90%] sm:w-[85%] md:w-[75%] lg:w-screen-md">
    <nav>
      <ul class="w-full">
        <li
          *ngIf="filtersApplied()"
          class="mx-auto px-2 py-1 my-2 rounded-md drop-shadow-lg bg-gray-50 hover:bg-teal-700 hover:text-white hover:font-semibold hover:tracking-wide hover:shadow-md hover:shadow-teal-100"
          (click)="removeFilters()"
        >
          Borrar filtres
        </li>
      </ul>
    </nav>
    <ul class="w-full">
      <li
        *ngFor="let activity of this.filteredActivities"
        class="my-2 mx-4 border-2 border-slate-100 rounded-lg px-6 py-4 bg-white drop-shadow-lg hover:drop-shadow-xl hover:shadow-emerald-300 hover:border-emerald-300"
      >
        <div [routerLink]="['/play/' + activity.type + '/' + activity._id]">
          <h3 class="leading-12 font-semibold text-lg">{{ activity.title }}</h3>
          <p>Activitat: {{ activity.task }}</p>
          <p>Autor: {{ activity.author }}</p>
          <p *ngIf="activity.font.author">
            Basat en: {{ activity.font.author }}
          </p>
        </div>
        <ul class="flex flex-row flex-wrap justify-start items-center">
          <li
            class="px-2 py-1 mr-2 my-2 rounded-md drop-shadow-lg bg-blue-300"
            (click)="filterByLanguage(activity.language)"
          >
            {{ activity.language | getLanguage }}
          </li>
          <li
            class="px-2 py-1 mr-2 my-2 rounded-md drop-shadow-lg bg-red-300"
            (click)="filterByType(activity.type)"
          >
            {{ activity.type }}
          </li>
          <li
            *ngFor="let keyword of activity.keywords"
            class="px-2 py-1 mr-2 my-2 rounded-md drop-shadow-lg bg-emerald-200"
            (click)="filterByKeyword(keyword)"
          >
            {{ keyword }}
          </li>
        </ul>
      </li>
    </ul>
  </section>
</div>
