<section>
  <form
    class="w-[85%] sm:w-[79%] md:w-[70%] lg:w-[58%] pb-6 flex flex-col justify-start items-center mb-6 border-2 border-slate-100 rounded-lg px-6 pt-6 bg-white drop-shadow-lg hover:drop-shadow-xl hover:shadow-emerald-300 hover:border-emerald-300 mx-auto mt-8"
    [formGroup]="joinGroupForm"
    (ngSubmit)="join()"
    aria-label="join group form"
  >
    <h2 class="font-semibold text-xl py-3 text-center px-6 tracking-wide">
      Preparat ?
    </h2>
    <div
      class="w-full flex flex-col sm:flex-row justify-start sm:justify-between items-center px-6 pb-3"
    >
      <img
        class="max-h-[45vw] sm:max-h-[35vw] sm:hidden mb-2"
        src="../../../../assets/illustrations/undraw_maker_launch_re_rq81.svg"
        alt=""
      />
      <mat-form-field
        appearance="standard"
        style="width: 15rem; text-align: center; font-size: 18px"
        class="sm:mr-8"
      >
        <mat-error *ngIf="accessCode.dirty && accessCode.hasError('required')">
          Si no introdueixes el codi correctament, no podràs participar a
          l'activitat.
        </mat-error>
        <mat-error
          *ngIf="
            accessCode.dirty &&
            !accessCode.hasError('required') &&
            accessCode.hasError('wrong-id')
          "
        >
          Ops. El codi introduït no és vàlid. Copia el codi que has rebut.
        </mat-error>
        <mat-label>Codi accés</mat-label>
        <input
          matInput
          type="text"
          class="mx-6"
          [formControl]="accessCode"
          aria-required="true"
          placeholder="Introdueix el codi d'accés"
          id="joinGroupForm-accessCode"
        />
      </mat-form-field>
      <app-button
        (click)="this.join(); $event.preventDefault()"
        text="jugar"
      ></app-button>
    </div>
    <img
      class="max-h-[45vw] sm:max-h-[35vw] hidden sm:block mb-4"
      src="../../../../assets/illustrations/undraw_maker_launch_re_rq81.svg"
      alt=""
    />
  </form>
</section>
