<form
  class="form flex flex-col sm:flex-row justify-start sm:justify-between items-center sm:items-start border-2 border-slate-100 rounded-lg my-2 hover:border-emerald-300"
  [formGroup]="questionForm"
  (ngSubmit)="save()"
  aria-label="font form"
>
  <div class="w-[10%] min-w-fit text-center pt-7 pl-2">
    <p class="font-bold text-3xl text-emerald-700 self-center">
      Q.{{ this.id }}
    </p>
    <p class="self-center">pos. {{ this.position }}</p>
    <mat-icon
      class="hover:text-emerald-600 my-6 scale-125"
      title="afegir opció"
      (click)="addOption()"
      >add</mat-icon
    >
    <mat-icon
      class="hover:text-red-600 my-6 scale-125"
      title="eliminar qüestió"
      (click)="removeQuestion()"
      >delete</mat-icon
    >
  </div>
  <div class="w-[88%] flex flex-col justify-between items-start pb-2 pr-6">
    <mat-error *ngIf="!valid" class="pt-6 pr-6 text-justify">
      Atenció: almenys una de les opcions d'aquesta qüestió ha de ser certa.
      Modifica les teves opcions o afegeix-ne una de nova que sigui certa.
    </mat-error>
    <app-edit-option-best-option
      class="w-full"
      *ngFor="let option of this.options"
      [option]="option"
      (optionResponse)="optionResponse($event)"
      (optionRemoved)="optionRemoved($event)"
    ></app-edit-option-best-option>
  </div>
</form>
