<article
  class="mx-auto my-6 px-4 sm:px-2 md:px-0 py-6 max-w-[90%] flex flex-col justify-start items-center overflow-hidden shadow-lg bg-white"
>
  <h2 class="font-semibold text-2xl py-3 text-center tracking-wide">
    {{ this.activity?.title }}
  </h2>
  <div
    *ngIf="this.activity?.text && !this.completed"
    class="mx-auto w-[95%] sm:w-[90%] md:w-[85%]"
  >
    <h3 class="font-medium text-emerald-800 my-2">{{ this.activity?.task }}</h3>
    <section
      [id]="this.idSelector"
      [innerHtml]="
        this.textWithQuestions | addOptionSelector: this.questions | sanitize
      "
      class="leading-relaxed my-4"
    ></section>
  </div>
  <div
    *ngIf="this.completed && this.answers"
    class="mx-auto w-[95%] sm:w-[90%] md:w-[85%]"
  >
    <app-activity-results
      [multiplayer]="multiplayer"
      [answer]="this.answers.scores"
    ></app-activity-results>
  </div>
  <footer
    *ngIf="this.activity?.font?.display"
    class="mx-auto w-[95%] sm:w-[90%] md:w-[85%] my-4 flex flex-col justify-start items-center sm:flex-row sm:justify-between"
  >
    <section class="w-[35%] mr-6">
      <p class="italic text-left">{{ this.activity.font.author }}</p>
      <p class="text-left">
        <a href="{{ this.activity.font.reference }}">{{
          this.activity.font.work
        }}</a
        ><time [dateTime]="this.activity.font.year"
          >, {{ this.activity.font.year }}</time
        >
      </p>
    </section>
    <section
      class="ml-6 flex flex-col justify-start items-center sm:flex-row sm:flex-wrap sm:justify-end lg:flex-nowrap"
    >
      <app-button
        class="my-2 mx-3"
        id="showResults"
        *ngIf="!this.completed"
        (click)="this.getResults()"
        text="validar"
      ></app-button>
      <app-button
        class="my-2 mx-3"
        id="replayActivity"
        *ngIf="this.completed && !this.multiplayer"
        (click)="this.replay()"
        text="tornar-hi"
      ></app-button>
      <app-button
        class="my-2 mx-3"
        id="moreActivities"
        *ngIf="this.completed && !this.multiplayer"
        [routerLink]="['/home']"
        text="vull més !"
      ></app-button>
    </section>
  </footer>
</article>
