<div style="margin-left: auto; margin-right: auto">
  <p id="loginFeedback"></p>
</div>
<section
  class="mt-12 w-full flex flex-col justify-start items-center sm:flex-row sm:justify-center sm:items-start"
>
  <img
    class="max-h-[50vw] sm:max-w-[40vw] mx-6"
    src="../../../../assets/illustrations/undraw_secure_login_pdn4.svg"
    alt=""
  />
  <form
    class="form"
    [formGroup]="loginForm"
    (submit)="login()"
    aria-label="login form"
  >
    <h1 class="font-bold text-xl pb-6 text-center">Connexió</h1>
    <mat-form-field appearance="fill">
      <mat-label>Correu electrònic</mat-label>
      <input
        matInput
        type="email"
        [formControl]="email"
        aria-required="true"
        placeholder="Your email..."
        autocomplete="email"
      />
      <mat-error *ngIf="email.dirty && email.hasError('required')">
        Cal proporcionar una adreça de correu electrònic.
      </mat-error>
      <mat-error
        *ngIf="
          email.dirty && email.hasError('email') && !email.hasError('required')
        "
      >
        Format de correu electrònic incorrecte.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Clau</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        [formControl]="password"
        aria-required="true"
        placeholder="Your password..."
        autocomplete="new-password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="toggleHide()"
        type="button"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="password.dirty && password.hasError('required')">
        Cal proporcionar una clau d'accés.
      </mat-error>
    </mat-form-field>
    <button
      class="px-8 py-2 my-2 rounded-md drop-shadow-lg bg-emerald-100 hover:bg-teal-700 hover:text-white hover:font-semibold hover:tracking-wide hover:shadow-md hover:shadow-teal-100"
      color="primary"
      type="submit"
      [disabled]="!loginForm.valid"
      aria-label="log in"
    >
      Connectar-me
    </button>
  </form>
</section>
