<div style="margin-left: auto; margin-right: auto">
  <p id="registerFeedback"></p>
</div>
<form
  class="form"
  [formGroup]="registerForm"
  (ngSubmit)="register()"
  aria-label="register form"
>
  <h1 class="font-bold text-xl pb-6 text-center">Sign up Textoo</h1>
  <mat-form-field appearance="fill">
    <mat-label>Alias</mat-label>
    <input
      matInput
      type="text"
      [formControl]="alias"
      aria-required="true"
      placeholder="Your alias..."
    />
    <mat-error *ngIf="alias.dirty && alias.hasError('required')">
      Alias is required.
    </mat-error>
    <mat-error
      *ngIf="
        alias.dirty &&
        alias.hasError('minlength') &&
        !alias.hasError('required')
      "
    >
      Alias must be at least 5 characters long.
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Avatar</mat-label>
    <input
      matInput
      type="text"
      [formControl]="avatar"
      aria-required="true"
      placeholder="Your avatar..."
    />
    <mat-error *ngIf="alias.dirty && alias.hasError('required')">
      Avatar is required.
    </mat-error>
    <mat-error
      *ngIf="
        alias.dirty &&
        alias.hasError('minlength') &&
        !alias.hasError('required')
      "
    >
      Avatar must be at least 5 characters long.
    </mat-error>
    <mat-error
      *ngIf="
        alias.dirty &&
        alias.hasError('maxlength') &&
        !alias.hasError('required')
      "
    >
      Alias can be max 25 characters long.
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input
      matInput
      type="email"
      [formControl]="email"
      aria-required="true"
      placeholder="Your email..."
      autocomplete="email"
    />
    <mat-error *ngIf="email.dirty && email.hasError('required')">
      Email is required.
    </mat-error>
    <mat-error
      *ngIf="
        email.dirty && email.hasError('email') && !email.hasError('required')
      "
    >
      Incorrect email format.
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input
      matInput
      type="password"
      [formControl]="password"
      aria-required="true"
      placeholder="Your password..."
      autocomplete="new-password"
    />
    <mat-error *ngIf="password.dirty && password.hasError('required')">
      Password is required.
    </mat-error>
    <mat-error
      *ngIf="
        password.dirty &&
        password.hasError('minlength') &&
        !password.hasError('required')
      "
    >
      Password must be at least 8 characters long.
    </mat-error>
    <mat-error
      *ngIf="
        password.dirty &&
        password.hasError('maxlength') &&
        !password.hasError('required')
      "
    >
      Password can be max 16 characters long.
    </mat-error>
  </mat-form-field>

  <div>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!registerForm.valid"
      aria-label="send register form"
      (click)="this.register(); $event.preventDefault()"
    >
      Register
    </button>
  </div>
</form>
