<div style="margin-left: auto; margin-right: auto">
  <p id="registerFeedback"></p>
</div>
<form
  class="form"
  [formGroup]="registerForm"
  (ngSubmit)="register()"
  aria-label="register form"
>
  <h1 class="font-bold text-xl pb-6 text-center">Apunta't a Textoo</h1>
  <mat-form-field appearance="fill">
    <mat-label>Alias</mat-label>
    <input
      matInput
      type="text"
      [formControl]="alias"
      aria-required="true"
      placeholder="El teu alias..."
    />
    <mat-error *ngIf="alias.dirty && alias.hasError('required')">
      Cal proporcionar un alias.
    </mat-error>
    <mat-error
      *ngIf="
        alias.dirty &&
        alias.hasError('minlength') &&
        !alias.hasError('required')
      "
    >
      L'alias ha de tenir almenys 5 caràcters.
    </mat-error>
    <mat-error
      *ngIf="
        alias.dirty &&
        alias.hasError('maxlength') &&
        !alias.hasError('required')
      "
    >
      L'alias no pot excedir els 25 caràcters.
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Avatar</mat-label>
    <input
      matInput
      type="text"
      [formControl]="avatar"
      aria-required="true"
      placeholder="El teu avatar..."
    />
    <mat-error *ngIf="alias.dirty && alias.hasError('required')">
      Cal proporcionar un avatar.
    </mat-error>
    <mat-error
      *ngIf="
        alias.dirty &&
        alias.hasError('minlength') &&
        !alias.hasError('required')
      "
    >
      L'avatar ha de tenir almenys 5 caràcters.
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Correu electrònic</mat-label>
    <input
      matInput
      type="email"
      [formControl]="email"
      aria-required="true"
      placeholder="El teu correu electrònic..."
      autocomplete="email"
    />
    <mat-error *ngIf="email.dirty && email.hasError('required')">
      Cal proporcionar una adreça de correu electrònic.
    </mat-error>
    <mat-error
      *ngIf="
        email.dirty && email.hasError('email') && !email.hasError('required')
      "
    >
      Format de correu electrònic incorrecte..
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Clau</mat-label>
    <input
      matInput
      type="password"
      [formControl]="password"
      aria-required="true"
      placeholder="La teva clau..."
      autocomplete="new-password"
    />
    <mat-error *ngIf="password.dirty && password.hasError('required')">
      Cal proporcionar una clau d'accés.
    </mat-error>
    <mat-error
      *ngIf="
        password.dirty &&
        password.hasError('minlength') &&
        !password.hasError('required')
      "
    >
      La clau ha de tenir com a mínim 8 caràcters.
    </mat-error>
    <mat-error
      *ngIf="
        password.dirty &&
        password.hasError('maxlength') &&
        !password.hasError('required')
      "
    >
      La clau no pot excedir els 24 caràcters.
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Repeteix la clau</mat-label>
    <input
      matInput
      type="password"
      [formControl]="passwordConfirmation"
      aria-required="true"
      placeholder="Confirma la teva clau..."
    />
    <mat-error *ngIf="password.dirty && password.hasError('required')">
      Confirma la clau d'accés.
    </mat-error>
    <mat-error
      *ngIf="
        passwordConfirmation.dirty &&
        passwordConfirmation.hasError('minlength') &&
        !passwordConfirmation.hasError('required')
      "
    >
      La clau ha de tenir com a mínim 8 caràcters.
    </mat-error>
    <mat-error
      *ngIf="
        passwordConfirmation.dirty &&
        passwordConfirmation.hasError('maxlength') &&
        !passwordConfirmation.hasError('required')
      "
    >
      La clau no pot excedir els 24 caràcters.
    </mat-error>
    <mat-error
      *ngIf="
        passwordConfirmation.dirty &&
        passwordConfirmation.hasError('passwords_mismatch') &&
        !passwordConfirmation.hasError('required')
      "
    >
      Les dues claus han de ser coincidents. Revisa la confirmació de la clau.
    </mat-error>
  </mat-form-field>
  <div class="mt-6">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!registerForm.valid"
      aria-label="send register form"
      (click)="this.register()"
    >
      Registrar-me
    </button>
  </div>
</form>
