<article class="max-w-5xl overflow-hidden shadow-lg m-4 p-6">
  <h2 class="font-bold text-xl py-3 text-center">
    {{ this.activity?.title }}
  </h2>
  <h3 class="mb-2">{{ this.activity?.task }}</h3>
  <section
    *ngIf="this.activity.text"
    [id]="this.idSelector"
    [innerHtml]="
      this.textWithQuestions
        | addOptionSelector: this.questions
        | improveBreaklines
        | sanitize
    "
    class="leading-relaxed"
  ></section>
  <footer *ngIf="this.activity.font.display" class="my-4">
    <p class="italic text-left">{{ this.activity.font.author }}</p>
    <p class="text-left">
      <a href="{{ this.activity.font.reference }}">{{
        this.activity.font.work
      }}</a
      ><time [dateTime]="this.activity.font.year"
        >, {{ this.activity.font.year }}</time
      >
    </p>
  </footer>
  <!-- <app-validate-activity></app-validate-activity> -->
</article>
