<section class="w-[18rem] my-3 px-6 flex flex-col justify-start items-center">
  <p class="w-full text-center text-lg text-emerald-800">{{ title }}</p>
  <p
    class="w-full flex flex-row justify-center items-center font-semibold text-2xl text-emerald-800"
  >
    <span *ngIf="remainingTime.days.display" class="px-2"
      >{{ remainingTime.days.value | addLeadingZero }} di{{
        remainingTime.days.value === 1 ? "a" : "es"
      }}</span
    >
    <span *ngIf="remainingTime.hours.display" class="px-2"
      >{{ remainingTime.hours.value | addLeadingZero }} hor{{
        remainingTime.hours.value === 1 ? "a" : "es"
      }}</span
    >
    <span *ngIf="remainingTime.minutes.display" class="px-2"
      >{{ remainingTime.minutes.value | addLeadingZero }} minut{{
        remainingTime.minutes.value === 1 ? "" : "s"
      }}</span
    >
    <span *ngIf="remainingTime.seconds.display" class="px-2"
      >{{ remainingTime.seconds.value | addLeadingZero }} segon{{
        remainingTime.seconds.value === 1 ? "" : "s"
      }}</span
    >
  </p>
</section>
