<div
  class="w-full flex flex-col flex-nowrap justify-start items-center md:flex-row md:justify-center md:items-start"
>
  <section
    class="w-[95%] sm:w-[85%] md:w-[45%] flex flex-col flex-nowrap justify-start items:center sm:items-start md:items-end mx-6 my-6"
  >
    <h1
      class="text-5xl text-emerald-600 font-extrabold text-center sm:text-left md:text-right"
    >
      404
    </h1>
    <h2
      class="font-bold text-2xl pb-4 text-emerald-900 text-center sm:text-left md:text-right"
    >
      No hem trobat el que buscaves
    </h2>
    <p class="text-center sm:text-left md:text-right">
      Potser vols fer alguna cosa diferent?
    </p>
    <img
      class="max-h-[35vw] sm:hidden md:block md:max-h-[50vw] mt-4"
      src="../../../../assets/illustrations/undraw_lost_re_xqjt.svg"
      alt=""
    />
  </section>
  <section
    class="w-[95%] sm:w-[85%] md:w-[40%] sm:flex sm:flex-row sm:justify-start sm:items-start md:block"
  >
    <ul
      class="flex flex-col flex-wrap justify-start items-center sm:items-start mx-6 sm:ml-0 sm:mr-6 md:mx-6 mb-6 mt-0 sm:mt-3 md:mt-7"
    >
      <li
        class="my-1 py-2 px-4 w-48 text-center md:text-left hover:bg-emerald-100 hover:rounded-lg border-2 cursor-pointer rounded-md"
        [routerLink]="'/home'"
      >
        Anar a l'inici
      </li>
      <li
        class="my-1 py-2 px-4 w-48 text-center md:text-left hover:bg-emerald-100 hover:rounded-lg border-2 cursor-pointer rounded-md"
        [routerLink]="'/games/join'"
      >
        Jugar una partida
      </li>
      <li
        class="my-1 py-2 px-4 w-48 text-center md:text-left hover:bg-emerald-100 hover:rounded-lg border-2 cursor-pointer rounded-md"
        *ngIf="!userIsLoggedIn"
        [routerLink]="'/login'"
      >
        Connectar-me
      </li>
      <li
        class="my-1 py-2 px-4 w-48 text-center md:text-left hover:bg-emerald-100 hover:rounded-lg border-2 cursor-pointer rounded-md"
        *ngIf="!userIsLoggedIn"
        [routerLink]="'/user/register'"
      >
        Descobreix textoo
      </li>
      <li
        class="my-1 py-2 px-4 w-48 text-center md:text-left hover:bg-emerald-100 hover:rounded-lg border-2 cursor-pointer rounded-md"
        *ngIf="userIsLoggedIn"
        [routerLink]="'/activities/dashboard'"
      >
        Les meves activitats
      </li>
      <li
        class="my-1 py-2 px-4 w-48 text-center md:text-left hover:bg-emerald-100 hover:rounded-lg border-2 cursor-pointer rounded-md"
        *ngIf="userIsLoggedIn"
        [routerLink]="'/games/dashboard'"
      >
        Els meus jocs
      </li>

      <li
        class="my-1 py-2 px-4 w-48 text-center md:text-left hover:bg-emerald-100 hover:rounded-lg border-2 cursor-pointer rounded-md"
        [routerLink]="'/groups'"
      >
        Els equips
      </li>
    </ul>
    <img
      class="max-h-[40vw] hidden sm:block md:hidden"
      src="../../../../assets/illustrations/undraw_lost_re_xqjt.svg"
      alt=""
    />
  </section>
</div>
