<header class="top-0 sticky z-50" id="top">
  <mat-toolbar>
    <div
      class="w-full box-border flex flex-row flex-nowrap justify-between items-center leading-10"
    >
      <div
        class="w-full sm:w-[15%] flex flex-row flex-nowrap justify-start items-center leading-10"
      >
        <div class="mx-22">
          <button
            class="md:hidden"
            aria-label="Menu button"
            (click)="sidenav.toggle()"
          >
            <mat-icon class="leading-12 align-middle">menu</mat-icon>
          </button>
        </div>
        <h1
          class="visible cursor-pointer px-4 ml-2 leading-12"
          [routerLink]="['/home']"
        >
          Textoo
        </h1>
      </div>
      <nav class="w-[30%] sm:w-[80%]">
        <app-header></app-header>
      </nav>
    </div>
  </mat-toolbar>
</header>
<mat-sidenav-container hasBackdrop="true">
  <mat-sidenav
    #sidenav
    mode="over"
    class="snap-none overflow-x-hidden overflow-y-auto md:hidden"
  >
    <li
      *ngIf="showNoAuthSection"
      class="cursor-pointer list-none py-3 text-left hover:bg-teal-200 w-full flex flex-row flex-nowrap justify-start items-center hover:font-semibold"
      [routerLink]="['/login']"
      (click)="sidenav.toggle()"
    >
      <mat-icon aria-hidden="true" class="mx-4">verified_user</mat-icon
      ><span class="px-2">connexió</span>
    </li>
    <li
      class="cursor-pointer list-none py-3 text-left hover:bg-teal-200 w-full flex flex-row flex-nowrap justify-start items-center hover:font-semibold"
      [routerLink]="['/home']"
      (click)="sidenav.toggle()"
    >
      <mat-icon aria-hidden="true" class="mx-4">home</mat-icon
      ><span class="px-2">Totes les activitats</span>
    </li>
    <li
      *ngIf="showAuthSection"
      class="cursor-pointer list-none py-3 text-left hover:bg-teal-200 w-full flex flex-row flex-nowrap justify-start items-center hover:font-semibold"
      [routerLink]="['/activities/dashboard']"
      (click)="sidenav.toggle()"
    >
      <mat-icon aria-hidden="true" class="mx-4">play_circle_outline</mat-icon
      ><span class="px-2">les meves activitats</span>
    </li>
    <li
      *ngIf="showAuthSection"
      class="cursor-pointer list-none py-3 text-left hover:bg-teal-200 w-full flex flex-row flex-nowrap justify-start items-center hover:font-semibold"
      [routerLink]="['/groups']"
      (click)="sidenav.toggle()"
    >
      <mat-icon aria-hidden="true" class="mx-4">people</mat-icon
      ><span class="px-2">grups</span>
    </li>
    <li
      *ngIf="showAuthSection"
      class="cursor-pointer list-none py-3 text-left hover:bg-teal-200 w-full flex flex-row flex-nowrap justify-start items-center hover:font-semibold"
      [routerLink]="['/games/dashboard']"
      (click)="sidenav.toggle()"
    >
      <mat-icon aria-hidden="true" class="mx-4">group_work</mat-icon
      ><span class="px-2">jocs</span>
    </li>
    <li
      class="cursor-pointer list-none py-3 text-left hover:bg-teal-200 w-full flex flex-row flex-nowrap justify-start items-center hover:font-semibold"
      [routerLink]="['/games/join']"
      (click)="sidenav.toggle()"
    >
      <mat-icon aria-hidden="true" class="mx-4">av_timer</mat-icon
      ><span class="px-2">unir-me a un joc</span>
    </li>
    <li
      *ngIf="showAuthSection"
      class="cursor-pointer list-none py-3 text-left hover:bg-teal-200 w-full flex flex-row flex-nowrap justify-start items-center hover:font-semibold"
      [routerLink]="['/user/profile']"
      (click)="sidenav.toggle()"
    >
      <mat-icon aria-hidden="true" class="mx-4">account_circle</mat-icon
      ><span class="px-2">perfil</span>
    </li>
    <li
      *ngIf="showAuthSection"
      class="cursor-pointer list-none py-3 text-left hover:bg-teal-200 w-full flex flex-row flex-nowrap justify-start items-center hover:font-semibold"
      (click)="logout()"
    >
      <mat-icon aria-hidden="true" class="mx-4">power_settings_new</mat-icon
      ><span class="px-2">desconnexió</span>
    </li>
    <li
      *ngIf="showNoAuthSection"
      class="cursor-pointer list-none py-3 text-left hover:bg-teal-200 w-full flex flex-row flex-nowrap justify-start items-center hover:font-semibold"
      [routerLink]="['/user/register']"
      (click)="sidenav.toggle()"
    >
      <mat-icon aria-hidden="true" class="mx-4">create</mat-icon
      ><span class="px-2">registre</span>
    </li>
  </mat-sidenav>
  <mat-sidenav-content styles="width: 100vw; overflow:hidden">
    <main class="min-h-[78vh] sm:min-h-[85vh]">
      <mat-spinner *ngIf="isLoading" diameter="60" class="py-3"></mat-spinner>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
