<footer
  class="w-full flex flex-col sm:flex-row justify-start sm:justify-between items-center px-8 pt-2 pb-6 bg-[#fafafa] text-gray-800"
>
  <div class="leading-12">
    <a href="https://uoc.edu" class="hover:text-emerald-600"
      ><abbr title="Universitat Oberta de Catalunya">UOC</abbr></a
    >
  </div>
  <div class="leading-12">
    <a href="https://github.com/fcesc-code" class="hover:text-emerald-600"
      >Francesc Brugarolas</a
    >
    <span class="mx-4 text-gray-700">|</span>
    <time datetime="2022-5-11">Maig 2022</time>
  </div>
  <div class="leading-12">
    <a href="#top" class="hover:text-emerald-600">TOP</a>
  </div>
</footer>
