<section
  class="mt-12 w-full flex flex-col justify-start items-center sm:flex-row sm:justify-center sm:items-start"
>
  <img
    class="max-h-[50vw] sm:max-w-[40vw] mx-6"
    src="../../../../assets/illustrations/undraw_quitting_time_re_1whp.svg"
    alt=""
  />
  <div class="mx-6 min-w-[50vw]">
    <h1 class="mt-2 mb-5 text-5xl text-emerald-600 font-semibold text-center">
      A reveure
    </h1>
    <p class="text-center">Fins aviat :)</p>
    <p class="text-center">En uns segons retornaràs a la pàgina d'inici</p>
  </div>
</section>
