<div class="w-full flex flex-col justify-start items-center mb-6">
  <section class="w-full">
    <h2
      *ngIf="!filtersApplied()"
      class="mx-4 px-6 font-light text-2xl py-6 text-center text-emerald-800 tracking-wide"
    >
      Totes les activitats
    </h2>
    <h2
      *ngIf="filtersApplied() && filteredActivities.length > 1"
      class="mx-4 px-6 font-light text-2xl py-6 text-center text-emerald-800 tracking-wide"
    >
      Filtre activitats
    </h2>
    <h2
      *ngIf="filtersApplied() && filteredActivities.length === 1"
      class="mx-4 px-6 font-light text-2xl py-6 text-center text-emerald-800 tracking-wide"
    >
      Activitat del joc
    </h2>
    <nav class="w-full mb-4 flex flex-col justify-start items-center">
      <button
        *ngIf="filtersApplied()"
        class="mx-auto px-8 py-2 my-2 rounded-md drop-shadow-lg bg-emerald-100 hover:bg-teal-700 hover:text-white hover:font-semibold hover:tracking-wide hover:shadow-md hover:shadow-teal-100"
        (click)="removeFilters()"
      >
        {{
          filtersApplied() && filteredActivities.length === 1
            ? "Desfés selecció"
            : "Esborrar filtre"
        }}
      </button>
    </nav>
    <p
      class="mx-4 px-6 font-light"
      *ngIf="
        !filtersApplied() || (filtersApplied() && filteredActivities.length > 1)
      "
    >
      Selecciona una activitat per vincular-la al joc. Podràs canviar-la
      posteriorment.
    </p>
    <p
      class="mx-4 px-6 font-light"
      *ngIf="filtersApplied() && filteredActivities.length === 1"
    >
      El teu joc desenvoluparà aquesta activitat. Esborra els filtres i
      selecciona'n una de nova per canviar-la.
    </p>
  </section>
  <section class="w-full">
    <ul class="w-full">
      <li
        *ngFor="let activity of this.filteredActivities"
        class="my-4 mx-4 border-2 border-slate-100 rounded-lg px-6 py-4 bg-white shadow-lg shadow-gray-200 hover:shadow-emerald-300/20 hover:border-emerald-100"
      >
        <div
          id="{{ activity._id }}"
          (click)="retainId(activity._id, activity.title)"
          class="hover:bg-emerald-100"
        >
          <h3 class="leading-18 font-semibold text-2xl text-black my-3">
            {{ activity.title }}
          </h3>
          <p>{{ activity.task }}</p>
          <!-- <p>Autor: {{ activity.author }}</p> -->
          <p *ngIf="activity.font.author">
            Basat en: {{ activity.font.author }}
          </p>
        </div>
        <ul class="flex flex-row flex-wrap justify-start items-center my-3">
          <li
            class="px-6 py-2 mx-3 my-2 rounded-md shadow-md shadow-gray-100 bg-green-200 hover:bg-green-300 hover:shadow-green-200/80 hover:font-semibold"
            (click)="filterByLanguage(activity.language)"
          >
            {{ activity.language | getLanguage }}
          </li>
          <li
            class="px-6 py-2 mx-3 my-2 rounded-md shadow-md shadow-gray-100 bg-lime-100 hover:bg-lime-200 hover:shadow-lime-200/80 hover:font-semibold"
            (click)="filterByType(activity.type)"
          >
            {{ activity.type }}
          </li>
          <li
            *ngFor="let keyword of activity.keywords"
            class="px-6 py-2 mx-3 my-2 rounded-md shadow-md shadow-gray-100 bg-emerald-100 hover:bg-emerald-200 hover:shadow-emerald-200/80 hover:font-semibold"
            (click)="filterByKeyword(keyword)"
          >
            {{ keyword }}
          </li>
        </ul>
      </li>
    </ul>
  </section>
</div>
