<div class="w-full flex flex-col justify-start items-center mb-6">
  <section class="w-[95%] sm:w-[90%] md:w-[80%] lg:w-screen-md mt-4">
    <div
      class="py-4 flex flex-row justify-center items-center hover:text-emerald-700 hover:font-bold hover:cursor-pointer"
      [routerLink]="['/games/create']"
    >
      <mat-icon class="leading-12 mx-4" title="esborra"
        >add_circle_outline</mat-icon
      >
      <p class="mx-4">Crea un nou joc</p>
    </div>
    <h1 class="font-bold text-xl text-center mx-4 px-6 py-2 my-2">
      Jocs creats per mi
    </h1>
    <p *ngIf="userGames.length > 0" class="mx-4 px-6 py-2">
      Només podràs esborrar els jocs que no hagin començat fins a una setmana
      abans del seu inici.
    </p>
    <div class="mx-4 px-6 py-2" *ngIf="userGames.length === 0">
      <p>
        Encara no has creat cap joc? Cap problema! Crear-ne un és molt fàcil:
      </p>
      <ol>
        <li>Tria l'activitat que vols realitzar al joc de la llista</li>
        <li>Tria el temps màxim que vols que duri el joc</li>
        <li>Tria la data i l'hora prevista d'inici</li>
      </ol>
      <p>
        I ja està! Amb això hauràs creat un joc. Només cal que comparteixis el
        link que es mostra per a què pugui participar-hi qui vulguis.
      </p>
    </div>
  </section>
  <section class="w-[95%] sm:w-[90%] md:w-[80%] lg:w-screen-md">
    <nav class="w-full flex flex-col justify-start items-center">
      <button
        *ngIf="filtersApplied()"
        class="mx-auto px-8 py-2 my-2 rounded-md drop-shadow-lg bg-emerald-100 hover:bg-teal-700 hover:text-white hover:font-semibold hover:tracking-wide hover:shadow-md hover:shadow-teal-100"
        (click)="removeFilters()"
      >
        Esborrar filtre
      </button>
    </nav>
    <ul
      *ngIf="filteredUserGames && filteredUserGames.length > 0"
      class="w-full"
    >
      <li
        *ngFor="let game of this.filteredUserGames"
        class="my-4 mx-4 border-2 border-slate-100 rounded-lg px-6 py-4 bg-white shadow-lg shadow-gray-200 hover:shadow-emerald-300/20 hover:border-emerald-100"
      >
        <div
          class="my-3 flex flex-col justify-start items-center sm:flex-row sm:justify-between sm:items-start"
        >
          <h2 class="leading-18 font-semibold text-2xl text-black">
            {{ game.title }}
          </h2>
          <div>
            <mat-icon
              class="mt-1 leading-14 text-2xl align-middle ml-3 text-slate-600 hover:text-green-700"
              title="edita"
              [routerLink]="['/games/edit', game.id]"
              >edit</mat-icon
            >
            <mat-icon
              class="mt-1 leading-14 text-2xl align-middle ml-3 text-slate-600 hover:text-red-700"
              title="esborra"
              (click)="deleteGame(game.id)"
              >delete_outlined</mat-icon
            >
          </div>
        </div>
        <section>
          <h3
            class="pt-3 font-medium text-emerald-800 text-center sm:text-left"
          >
            Estat del joc
          </h3>
          <div
            class="flex flex-col justify-start items-center sm:flex-row sm:flex-wrap sm:justify-between sm:items-start"
          >
            <p>Inici programat: {{ game.status.start | date: "short" }}</p>
            <p>Tancat: {{ game.status.closed | booleanLocale }}</p>
            <p
              [routerLink]="['/games/join/', game.id]"
              title="anar al joc"
              class="cursor-pointer"
            >
              {{ game.id }}
            </p>
          </div>
          <section class="mt-2">
            <h3
              class="pt-3 font-medium text-emerald-800 text-center sm:text-left"
            >
              Activitat
            </h3>
            <div
              class="flex flex-col justify-start items-center sm:flex-row sm:flex-wrap sm:justify-between sm:items-start"
            >
              <p>{{ game.info.activityTitle }}</p>
              <p *ngIf="game.status.maxTime">
                Temps màxim:
                {{ game.status.maxTime | friendlyTime }}
              </p>
              <p *ngIf="!game.status.maxTime">
                Programat sense límit de temps.
              </p>
            </div>
          </section>
        </section>
        <section
          class="flex flex-row flex-wrap justify-center items-center my-3"
        >
          <p
            (click)="filterByLanguage(game.info.language)"
            class="px-6 py-2 mx-3 mt-2 mb-6 rounded-md shadow-md shadow-gray-100 bg-green-200 hover:bg-green-300 hover:shadow-green-200/80 hover:font-semibold"
          >
            {{ game.info.language | getLanguage }}
          </p>
          <p
            (click)="filterByType(game.info.type)"
            class="px-6 py-2 mx-3 mt-2 mb-6 rounded-md shadow-md shadow-gray-100 bg-lime-100 hover:bg-lime-200 hover:shadow-lime-200/80 hover:font-semibold"
          >
            {{ game.info.type }}
          </p>
          <p *ngIf="game.info.keywords && game.info.keywords.length > 0">
            <span
              *ngFor="let keyword of game.info.keywords"
              class="px-6 py-2 mx-3 mt-2 mb-6 rounded-md shadow-md shadow-gray-100 bg-emerald-100 hover:bg-emerald-200 hover:shadow-emerald-200/80 hover:font-semibold"
              (click)="filterByKeyword(keyword)"
            >
              {{ keyword }}</span
            >
          </p>
        </section>
        <!-- <p>organitzador: {{ game.status.organizer }}</p> -->
        <section *ngIf="game.users">
          <h3>Jugadors</h3>
          <p>
            <span *ngFor="let user of game.users">{{ user.id }}</span>
          </p>
        </section>
      </li>
    </ul>
  </section>
</div>
