<div style="margin-left: auto; margin-right: auto">
  <p id="profileFeedback"></p>
</div>
<div>
  <form
    class="form"
    [formGroup]="profileForm"
    (ngSubmit)="updateUser()"
    aria-label="update user profile form"
  >
    <h1 class="font-bold text-xl pb-6 text-center">Update your profile</h1>
    <mat-form-field appearance="fill">
      <mat-label>Alias</mat-label>
      <input
        matInput
        type="text"
        [formControl]="alias"
        aria-required="true"
        placeholder="Your alias..."
        id="profileForm-alias"
      />
      <mat-error *ngIf="alias.dirty && alias.hasError('required')">
        Alias is required.
      </mat-error>
      <mat-error
        *ngIf="
          alias.dirty &&
          alias.hasError('minlength') &&
          !alias.hasError('required')
        "
      >
        Alias must be at least 5 characters long.
      </mat-error>
      <mat-error
        *ngIf="
          alias.dirty &&
          alias.hasError('maxlength') &&
          !alias.hasError('required')
        "
      >
        Alias can be max 25 characters long.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Avatar</mat-label>
      <input
        matInput
        type="text"
        [formControl]="avatar"
        aria-required="true"
        placeholder="Your alias..."
        id="profileForm-avatar"
      />
      <mat-error *ngIf="avatar.dirty && avatar.hasError('required')">
        Avatar is required.
      </mat-error>
      <mat-error
        *ngIf="
          avatar.dirty &&
          avatar.hasError('minlength') &&
          !avatar.hasError('required')
        "
      >
        Avatar must be at least 5 characters long.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        [formControl]="email"
        aria-required="true"
        placeholder="Your email..."
        autocomplete="email"
        id="profileForm-email"
      />
      <mat-error *ngIf="email.dirty && email.hasError('required')">
        Email is required.
      </mat-error>
      <mat-error
        *ngIf="
          email.dirty && email.hasError('email') && !email.hasError('required')
        "
      >
        Incorrect email format.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Language</mat-label>
      <mat-select
        required
        [formControl]="language"
        aria-label="Select your preferred language"
      >
        <mat-option
          *ngFor="let lang of this.supportedLanguages"
          [value]="lang.short.toLowerCase()"
          >{{ lang.long }}</mat-option
        >
      </mat-select>
      <mat-error *ngIf="language.dirty && language.hasError('required')">
        You must select a preferred language
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>I want to</mat-label>
      <mat-select
        multiple
        required
        [formControl]="roles"
        selected-options="this.roles"
        aria-label="What are you going to do?"
      >
        <mat-option
          *ngFor="let role of this.supportedRoles"
          [value]="role.value"
          >{{ role.activity }}</mat-option
        >
      </mat-select>
      <mat-error *ngIf="roles.dirty && roles.hasError('required')">
        You must select at least a role
      </mat-error>
    </mat-form-field>
    <!-- <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        [formControl]="password"
        aria-required="true"
        placeholder="Your password..."
        autocomplete="new-password"
        id="profileForm-password"
      />
      <mat-error *ngIf="password.dirty && password.hasError('required')">
        Password is required.
      </mat-error>
      <mat-error
        *ngIf="
          password.dirty &&
          password.hasError('minlength') &&
          !password.hasError('required')
        "
      >
        Password must be at least 8 characters long.
      </mat-error>
      <mat-error
        *ngIf="
          password.dirty &&
          password.hasError('maxlength') &&
          !password.hasError('required')
        "
      >
        Password can be max 16 characters long.
      </mat-error>
    </mat-form-field> -->
    <div>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!profileForm.valid"
        aria-label="update your profile"
      >
        Update
      </button>
    </div>
  </form>
</div>
