<article class="my-6 flex flex-col justify-start items-center">
  <section>
    <app-countdown
      *ngIf="game && game.status.start && !hasStarted()"
      [targetDate]="getStartDate()"
      [title]="'La partida començarà en'"
    ></app-countdown>
    <nav
      class="flex flex-col justify-start items-center sm:flex-row sm:justify-center sm:items-start"
    >
      <img
        *ngIf="game && game.status.start && !hasStarted()"
        class="max-w-[80vw] sm:max-h-[40vw] sm:max-w-[40vw] my-6"
        src="../../../../assets/illustrations/undraw_a_moment_to_relax_re_v5gv.svg"
        alt=""
      />
      <div>
        <div *ngIf="lessThanTwoMinutesToStart() && !hasStarted()">
          <h3
            class="pt-3 text-2xl font-medium text-center sm:text-left tracking-wide"
          >
            Menys de dos minuts !
          </h3>
          <p class="my-3 text-center sm:text-left">
            Paciència, els altres participants s'estan connectant.
          </p>
        </div>
        <div *ngIf="!lessThanTwoMinutesToStart()">
          <h3
            class="pt-3 text-2xl font-medium text-center sm:text-left tracking-wide"
          >
            Falta una estona
          </h3>
          <p class="my-3 text-center sm:text-left">
            Vols fer alguna altra cosa?
          </p>
        </div>
        <ul
          *ngIf="!hasStarted()"
          class="flex flex-col justify-start items-center sm:items-start mx-6 sm:ml-0"
        >
          <li
            class="my-1 py-2 px-4 w-48 text-center md:text-left hover:bg-emerald-100 hover:rounded-lg border-2 cursor-pointer rounded-md"
            [routerLink]="'/home'"
          >
            Fer activitats
          </li>
          <li
            class="my-1 py-2 px-4 w-48 text-center md:text-left hover:bg-emerald-100 hover:rounded-lg border-2 cursor-pointer rounded-md"
            [routerLink]="'/games/dashboard'"
          >
            Altres partides
          </li>
          <li
            class="my-1 py-2 px-4 w-48 text-center md:text-left hover:bg-emerald-100 hover:rounded-lg border-2 cursor-pointer rounded-md"
            [routerLink]="'/groups'"
          >
            Veure grups
          </li>
          <li
            class="my-1 py-2 px-4 w-48 text-center md:text-left hover:bg-emerald-100 hover:rounded-lg border-2 cursor-pointer rounded-md"
            [routerLink]="'/activities/dashboard'"
          >
            Crear activitats
          </li>
        </ul>
      </div>
    </nav>
  </section>
  <header *ngIf="game">
    <h1 class="text-center text-2xl font-medium">{{ game.title }}</h1>
  </header>
  <section
    *ngIf="hasStarted()"
    class="flex flex-col justify-start items-center sm:flex-row sm:justify-center sm:items-start"
  >
    <app-play-best-option
      [multiplayer]="multiplayer"
      *ngIf="
        game && game.info.type === activityTypes.BEST_OPTION && !hasEnded()
      "
      [game]="game.info.activityId"
      (answerEvent)="onAnswerEvent($event)"
    >
    </app-play-best-option>
    <app-play-select-text
      [multiplayer]="multiplayer"
      *ngIf="
        game && game.info.type === activityTypes.SELECT_TEXT && !hasEnded()
      "
      [game]="game.info.activityId"
      (answerEvent)="onAnswerEvent($event)"
    >
    </app-play-select-text>
    <p
      *ngIf="
        game && game.info.type === activityTypes.TRANSFORM_ASPECT && !hasEnded()
      "
    >
      Ho sento, encara no hem implementat aquest tipus d'activitat. Textoo.
    </p>
    <app-group-results
      [answers]="game.scores"
      [groupScores]="game.groupScores"
    ></app-group-results>
    <aside class="w-[18rem]">
      <div
        *ngIf="!hasEnded()"
        class="w-full my-4 border-2 border-slate-100 rounded-lg py-4 bg-white shadow-lg shadow-gray-200 hover:shadow-emerald-300/20 hover:border-emerald-100"
      >
        <app-countdown
          *ngIf="game && game.status.start && hasStarted()"
          [targetDate]="getEndDate()"
          [title]="'Temps restant'"
        ></app-countdown>
      </div>
      <app-users-online
        [players]="game?.players || []"
        class="w-full"
      ></app-users-online>
      <div
        class="w-full my-4 border-2 border-slate-100 rounded-lg py-4 bg-white shadow-lg shadow-gray-200 hover:shadow-emerald-300/20 hover:border-emerald-100 cursor-pointer"
      >
        <p *ngIf="!hasEnded()" class="px-6 font-light pb-2 text-center">
          Falta gent? Comparteix el codi
        </p>
        <p *ngIf="hasEnded()" class="px-6 font-light pb-2 text-center">
          Partida acabada !
        </p>
        <p *ngIf="!hasEnded()" class="px-6 text-center">{{ game?.id }}</p>
      </div>
    </aside>
  </section>
</article>
